.rating {
    display: inline-flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top : -10px;
}

.rating>input {
    display: none
}

.rating>label {
    position: static;
    width: 1em;
    font-size: 2.5vw;
    color: #903479;
    cursor: pointer
}

.rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
}

.rating>label:hover:before,
.rating>label:hover~label:before {
    opacity: 1 !important
}

.rating>input:checked~label:before {
    opacity: 1
}

.rating:hover>input:checked~label:before {
    opacity: 0.4
}

.rating-selected{
    position: static;
    width: 1em;
    font-size: 1vw;
    color : #903479;
}

/* body {
    background: #222225;
    color: white
} */


/* @media only screen and (max-width: 600px) {
    h1 {
        font-size: 14px
    }

    p {
        font-size: 12px
    }
} */

.bold{
	font-weight:700;
}
.padding-bottom-7{
	padding-bottom:7px;
}

.review-block{
	background-color:#FAFAFA;
	border:1px solid #EFEFEF;
	padding:15px;
	border-radius:3px;
    margin-bottom:15px;
}
.review-block-name{
	font-size:25px;
    text-align:left;
}
.review-block-date{
    font-size:14px;
    text-align: left;
}
.review-block-rate{
	font-size:13px;
	margin-bottom:15px;
}
.review-block-title{
	font-size:21px;
	font-weight:700;
	margin-bottom:10px;
}
.review-block-description{
	font-size:17px;
}
.review-block-room{
    font-size:14px;
    text-align: left;
}
 
 /* Clearfix */
 .cf:before,
 .cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
 }
 
 .cf:after {
     clear: both;
 }
