<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database - Hotel</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css2/styles-merged.css">
    <link rel="stylesheet" href="/stylesheets/css2/style.min.css">
    <link rel="stylesheet" href="/stylesheets/css2/custom.css">
    <link rel="stylesheet" href="/stylesheets/css2/review_css/review.css">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<p> <% complain[0].ROOM_NUM %> </p>
<% include ./uppermenu_header.ejs %>

<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="img/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">Real Time Room</h1>
                            <div class="probootstrap-animate probootstrap-sub-wrap">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section" style="padding-bottom: 2em;">
    <div class="container">
        <div class="row probootstrap-gutter40">
            <div class="col-md-8">
                <h2 class="mt0">Complain</h2>
                <form action="/ADD" method="post" class="probootstrap-form">
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Room_num">방 번호</label>
                                <input type="text" class="form-control" id="Room_num" name="Room_num">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="complain_type">민원 타입</label>
                                    <div class="form-field">
                                        <i class="icon icon-mail"></i>
                                        <select id="complain_type" name="complain_type" class="form-control">
                                            <option value="">Complain Type</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4+</option>
                                        </select>
                                    </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="priority">우선순위</label>
                                <div class="form-field">
                                    <i class="icon icon-mail"></i>
                                    <select id="priority" name="priority" class="form-control">
                                        <option value="0">Priority</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group" style="padding-left: 10%; padding-top: 13%;">
                                <input type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="submit">
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="content">내용</label>
                                <div class="form-field">
                                    <textarea placeholder="불만사항을 적어주세요" rows="7" class="form-control" id="content" name="content"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-4 text-center">
                <br><br><br><br>
                <h2 class="mt0">Allocate</h2>
                <p>배정할 직원을 선택해주세요.</p>
                <p><a href="#" class="btn btn-primary" role="button">직원 배정</a></p>
            </div>
        </div>
    </div>
</section>

<section id="complain_list">
    <div class="container">
    </div>
</section>

<section class="probootstrap-half">
    <div class="image" style="background-image: url(img/slider_2.jpg);"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Best 5 Star hotel</h2>
            <p><img src="img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Learn More <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>

<% include ./footer.ejs %>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>


</body>
</html>