<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database - Hotel</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/css2/login/login.css">
</head>
<body>


<section>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="d-none d-md-flex col-md-3 col-lg-7 bg-image"></div>
            <div class="col-md-7 col-lg-5">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-9 col-lg-8 mx-auto">
                                <h3 class="login-heading mb-4">Welcome back!</h3>
                                <form method="post" action="/login" >
                                    <div class="form-label-group">
                                        <input type="email" id="inputEmail" name="userid" class="form-control" placeholder="Email address" required autofocus>
                                        <label for="inputEmail">Email address</label>
                                    </div>

                                    <div class="form-label-group">
                                        <input type="password" id="inputPassword" name="userpwd" class="form-control" placeholder="Password" required>
                                        <label for="inputPassword">Password</label>
                                    </div>

                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" id="customCheck1" name="isEmployee" class="custom-control-input">
                                        <label class="custom-control-label crimson-font" for="customCheck1">Employee</label>
                                    </div>
                                    <button class="btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" style="background-color: #903479; border-color: #903479; color: white">Sign in</button>
                                    <button class="btn btn-lg btn-block btn-login text-uppercase font-weight-bold mb-2" onclick = "location.href='register'" style="background-color: #903479; border-color: #903479; color: white">Register</button>
                                    <div class="text-center">
                                        <a class="crimson-font" style="color: #903479;" href="#">Forgot password?</a></div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>


</body>
</html>