<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Database - Hotel</title>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:300,400,700|Rubik:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/css2/styles-merged.css">
    <link rel="stylesheet" href="/stylesheets/css2/style.min.css">
    <link rel="stylesheet" href="/stylesheets/css2/custom.css">
    <link rel="stylesheet" href="/stylesheets/css2/reservation_custom.css">
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.min.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<% include ./uppermenu_header.ejs %>

<section class="probootstrap-slider flexslider probootstrap-inner">
    <ul class="slides">
        <li style="background-image: url(img/slider_1.jpg);" class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="probootstrap-slider-text text-center">
                            <p><img src="img/curve_white.svg" class="seperator probootstrap-animate" alt="Free HTML5 Bootstrap Template"></p>
                            <h1 class="probootstrap-heading probootstrap-animate">Book A Room</h1>
                            <div class="probootstrap-animate probootstrap-sub-wrap">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row probootstrap-gutter40">
            <h2 class="mt0 text-center">날짜,인원 선택</h2>
            <hr style="width: 100%; background-color: #903479; height: 2px;">


            <form action="/search_room" method="post" class="probootstrap-form ">

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group" style="text-align:center;">
                            <label for="room">Room</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="room" id="room" class="form-control" style="font-size: 14px; background:#ffffff">
                                    <option value="0">Select a Room</option>
                                    <option value="1">STANDARD</option>
                                    <option value="2">DELUXE</option>
                                    <option value="3">PREMIUM</option>
                                    <option value="4">SUITE</option>
                                    <option value="5">EXECUTIVE_SUITE</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group" style="text-align:center;">
                            <label for="date-arrival">체크인</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" class="form-control" id="date-arrival" name="datearr" style="background:#ffffff;">
                            </div>
                        </div>
                    </div>
                    <!-- 몇박몇일인지 계산 해주는 값 -->

                    <div class="col-md-1"style="text-align:center;">
                        <div class="form-group">
                            <label for="fname">></label>
                            <input type="text" class="form-control" id="" name="" style="background:#ffffff";>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group"style="text-align:center;">
                            <label for="date-departure">체크아웃</label>
                            <div class="form-field">
                                <i class="icon icon-calendar2"></i>
                                <input type="text" class="form-control" id="date-departure" name="datedpar"style="background:#ffffff;">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="width: 9%" style="text-align:center;">
                        <div class="form-group">
                            <label for="adults">성인</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="adults" id="adults" class="form-control" style="padding-right:0; background:#ffffff">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="width: 9%" style="text-align:center;">
                        <div class="form-group">
                            <label for="children">어린이</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="children" id="children" class="form-control" style="padding-right:0; background:#ffffff">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1" style="width: 9%">
                        <div class="form-group"style="text-align:center;">>
                            <label for="adults">유아</label>
                            <div class="form-field">
                                <i class="icon icon-chevron-down"></i>
                                <select name="babies" id="babies" class="form-control" style="padding-right:0; background:#ffffff">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4+</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input style="margin-top: 1.9%; margin-left: 2%" type="submit" class="btn btn-primary btn-lg" id="submit" name="submit" value="Search">
                    </div>
                </div>
                <hr style="width: 100%; background-color: #903479; height: 2px;">
            </form>
        </div>

        <div class="row probootstrap-gutter40">
            <div class="row">
                <% if (avail_roomtype != null) { %>
                <% for (var q of avail_roomtype)  { %>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="probootstrap-room">
                        <a href="#"><img src="img/img_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></a>
                        <div class="text">
                            <h3><%= console.log(q.ROOMTYPE); %></h3>
                            <p>Starting from <strong>$29.00/Night</strong></p>
                            <div class="post-meta mb30">
                                <ul>
                                    <li><span class="review-rate">4.7</span> <i class="icon-star"></i> 252 Reviews</li>
                                    <li><i class="icon-user2"></i> 3 Guests</li>
                                </ul>
                            </div>
                            <p><a href="#" class="btn btn-primary" role="button">Reserve now for $29.00</a></p>
                        </div>
                    </div>
                </div>
                    <% } }else { %>
                    <p></p>
                <% }%>


            </div>
        </div>
    </div>
</section>

<section class="probootstrap-half">
    <div class="image" style="background-image: url(img/slider_2.jpg);"></div>
    <div class="text">
        <div class="probootstrap-animate fadeInUp probootstrap-animated">
            <h2 class="mt0">Best 5 Star hotel</h2>
            <p><img src="img/curve_white.svg" class="seperator" alt="Free HTML5 Bootstrap Template"></p>
            <div class="row">
                <div class="col-md-6">
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                </div>
                <div class="col-md-6">
                    <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                </div>
            </div>
            <p><a href="#" class="link-with-icon white">Learn More <i class=" icon-chevron-right"></i></a></p>
        </div>
    </div>
</section>

<% include ./footer.ejs %>

<script src="js/scripts.min.js"></script>
<script src="js/main.min.js"></script>
<script src="js/custom.js"></script>

</body>
</html>